html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    scroll-snap-type: y mandatory;
    background-color: #F1F7ED;
    overflow: auto;
}

.textCenter{
    text-align: center !important;
}


.textLeft{
    text-align: left !important;
}

.textJustify{
    text-align: justify !important;
}

.marginpadding{
    margin: 0 !important;
    padding: 0 !important;
}

.fontFG {
    font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;
}

.fontSZ1 {
    font-size: 2rem;
}

.fontSZ2 {
    font-size: 1.5rem !important;
}

.fontSZ3 {
    font-size: 1rem !important;
}

.fontSZ4 {
    font-size: 0.6rem !important;
}

.fontSZ5 {
    font-size: 0.4rem !important;
}

.mainInfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding50 {
    padding: 50px;
}

.padding25 {
    padding: 25px;
}

.fifty{
    width: 50%;
}

.divParent {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    display: flex;
}

.sidebar {
    width: 0;
    height: 100%;
    background-color: #3891A6;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    box-sizing: border-box;
}
/*3891a6-e8e9eb-313638*/

.panels {
    width: 100%;
    height: 100%;   
}

.divs {
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.bloque {
    background-color: #F1F7ED;
}

.borderbloque {
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
}

.expPanel {
    width: 33%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}

.Half {
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding: 10px;
}

ul {
    list-style: none;
    align-self: justify;
}

.amazon {
    color: #ff9900;
}

.heavy {
    color: #be7403;
}

.displaynone {
    display: none;
}

.displayinline {
    display: inline;
}

.prueba {
    float: left;
}

p, h1, h2, h3, h4, h5, h6 {
    color: #313638;
}

.title {
    color: #3891A6 !important;
}

.fabMenu {
    position: fixed;
    left: 30px;
    top: 30px;
    font-size: 1.5rem;
    opacity: 50%;
}

.fabMenu:hover {
    cursor: pointer;
    opacity: 100%;
}

.Edu {
    cursor: pointer;
}

.Edu:hover {
    cursor: pointer;
    color: #ff9900 !important;
}

.sidebarMenu {
    display: block;
    padding: 5px;
    color: #F1F7ED;
    text-decoration: none;
    cursor: pointer;
}

.sidebarMenu:hover {
    color: #c8f7aa;
}

.close {
    float: right;
    text-align: right;
}

.close:hover {
    color: black !important;
}

.PDF{
    text-decoration: none;
    color: #313638;
}

.PDF:hover {
    color: #3891A6 !important;
}